---
const {...element} = Astro.props;
---
<ul>
    <li>{element.prix}€</li>
    <li>{element.nom}</li>
    <li>{element.surface}m2</li>
    <li>{element.adresse}</li>
    <li>{element.favori}</li>
    <img src={element.image} alt="">
</ul>
